.profile {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px;
		background-color: #fff;
		padding: 10px;
		border-radius: 10px;
		border: 1px solid var(--gray-200);
	}
}
