.buttons {
	position: sticky;
	width: 100%;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 4px;
	background-color: #e5e5e5;
	z-index: 10;
	padding: 10px;
	backdrop-filter: blur(10px);

	button {
		width: 30px;
		height: 35px;
		border-radius: 4px;
		cursor: pointer;
		border: 1px solid var(--primary);
		font-size: 13px;
		display: flex;
		justify-content: center;
		align-items: center;
		&:hover {
			background-color: var(--blackOpacity-100);
		}
	}
}
.tiptap-wrapper {
}
.tiptap {
	color: var(--primary);
	font-size: 16px;
	position: relative;
	padding: 10px 20px;
	background-color: #e5e5e5;

	ul,
	ol {
		padding: 0 1rem;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: 1.1;
		color: #ba9100;
		margin-bottom: 10px;
	}

	h1 {
		font-size: 22px;
	}
	h2 {
		font-size: 20px;
	}
	p {
		font-size: 16px;
		line-height: 28px;
	}

	code {
		background-color: rgba(#616161, 0.1);
		color: #616161;
	}

	pre {
		background: #0d0d0d;
		color: #fff;
		font-family: 'JetBrainsMono', monospace;
		padding: 0.75rem 1rem;
		border-radius: 0.5rem;

		code {
			color: inherit;
			padding: 0;
			background: none;
			font-size: 0.8rem;
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	blockquote {
		padding-left: 1rem;
		border-left: 2px solid rgba(#0d0d0d, 0.1);
	}

	hr {
		border: none;
		border-top: 2px solid rgba(#0d0d0d, 0.1);
		margin: 2rem 0;
	}
}

button:disabled,
button[disabled] {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
	cursor: unset;
}

.is-active {
	background-color: var(--primary);
	color: #fff;
	&:hover {
		background-color: var(--primary) !important;
		color: #fff !important;
	}
}
