.sidebar {
	width: 270px;
	padding: 50px 26px 26px;

	.header {
		display: flex;
		align-items: center;
		gap: 6px;
		margin-bottom: 40px;
		.logo {
			width: 30px;
			height: 30px;
			background-color: var(--green);
			border-radius: 50%;
		}

		h1 {
			font-size: 18px;
			color: #fff;
			font-weight: 600;
			letter-spacing: 0.7px;
		}
	}

	.profile {
		margin-bottom: 40px;

		.title {
			font-size: 11px;
			font-weight: 500;
			letter-spacing: 1.3px;
			color: var(--gray-100);
			text-transform: uppercase;
			margin-bottom: 14px;
		}
		.row {
			display: flex;
			align-items: center;
			gap: 20px;
			cursor: pointer;
			&:hover {
				.icon {
					transform: scale(1.2);
					background-color: var(--gray-0);
				}
			}
		}
		.img {
			width: 5vh;
			height: 5vh;
			border-radius: 50%;
			background-color: var(--green);
			img {
				width: 100%;
				height: 100%;
				border-radius: 50%;
			}
		}
		.content {
			display: flex;
			flex-direction: column;
			gap: 6px;
			flex: 1 1 auto;
			h1 {
				font-size: 16px;
				font-weight: 600;
				&:nth-child(2) {
					color: var(--gray-100);
					font-weight: 300;
				}
			}
		}
		.icon {
			transition: all 0.2s;
			padding: 6px;
			border-radius: 50%;
			background-color: transparent;
			svg {
				color: var(--gray-100);
			}
		}
	}

	.menu {
		display: flex;
		flex-direction: column;
		height: 78%;
		.menuTitle {
			font-size: 11px;
			font-weight: 500;
			letter-spacing: 1.3px;
			color: var(--gray-100);
			text-transform: uppercase;
			margin-bottom: 20px;
		}
		.list {
			display: flex;
			flex-direction: column;
			gap: 34px;
			flex: 1 1 auto;
		}
		a {
			display: flex;
			align-items: center;
			gap: 14px;
			border-radius: 13px;
			transition: var(--transition);
			position: relative;
			&.active {
				&::after {
					content: '';
					position: absolute;
					right: -30%;
					top: 50%;
					transform: translateY(-50%);
					height: 40px;
					width: 40px;
					border-radius: 10px;
					rotate: -45deg;
					background-color: var(--gray-bg);
					pointer-events: none;
				}
				&::before {
					content: '';
					position: absolute;
					right: -9%;
					top: 68%;
					transform: translateY(-50%);
					background-color: var(--green);
					width: 6px;
					height: 6px;
					border-radius: 50%;
					z-index: 1;
					pointer-events: none;
				}
				h2 {
					color: #fff;
				}
				.icon {
					background-color: var(--green);
				}
			}
			h2 {
				font-size: 14px;
				color: var(--text);
				letter-spacing: 0.7px;
				font-weight: 500;
				text-transform: capitalize;
			}
			.icon {
				padding: 8px;
				border-radius: 10px;
				background-color: var(--icon-bg);
			}
			svg {
				color: #fff;
			}
			&:hover {
				transition: var(--transition);
				h2 {
					color: #fff;
				}
			}
			&.active {
				.icon {
					background-color: var(--green);
				}
			}
		}
	}

	button {
		padding: 6px;
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 14px;
		border-radius: 8px;
		background-color: var(--whiteOpacity);
		transition: var(--transition);
		h1 {
			font-size: 13px;
			color: #fff;
			font-weight: 500;
		}
		cursor: pointer;
		svg {
			color: #fff;
		}
		&:active {
			transform: scale(1.04);
		}
		&:hover {
			background-color: var(--whiteOpacity2);
		}
	}
}
