.button {
	padding: 10px 20px;
	border-radius: 10px;
	background-color: var(--primary);
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	font-family: var(--font-ibm);
	cursor: pointer;
	letter-spacing: 1px;
	position: relative;
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	white-space: nowrap;
	&.notActive {
		background-color: var(--gray-200);
		border: 2px solid var(--primary);
		color: var(--primary);
	}
	&.delete {
		background-color: rgb(209, 38, 38);
		color: #fff;
		text-transform: capitalize;
	}
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		border-radius: 10px;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		transition: var(--transition);
	}
	span {
		transition: var(--transition);
	}
	&:hover {
		&::before {
			background-color: var(--whiteOpacity);
		}
		span {
			transform: translate(2px, -2px);
			transition: var(--transition);
		}
	}
	&:active {
		transform: var(--scale);
		transition: var(--transition);
	}
}

.buttonDefault {
	background-color: var(--primary);
	color: #fff;
	border-radius: 10px;
	&::before {
		border-radius: 10px;
	}
}
