.inputWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	&:not(:last-child) {
		margin-bottom: 14px;
	}
}
.label {
	display: block;
	color: var(--primary);
	font-weight: 600;
	margin-bottom: 6px;
}

.input {
	width: 100%;
	font-size: 14px;
	line-height: 22px;
	font-weight: 500;
	color: var(--primary);
	border: 2px solid var(--primaryLight);
	border-radius: 4px;
	outline: none;
	background-color: transparent;
	transition: var(--transition);
	padding: 4px 10px;

	&:focus {
		border: 2px solid var(--primary);
	}

	&::placeholder {
		opacity: 1;
		color: var(--primaryLight);
		font-weight: 400;
	}

	&:-ms-input-placeholder {
		color: var(--primaryLight);
	}

	&::-ms-input-placeholder {
		color: var(--primaryLight);
	}

	&::-webkit-outer-spin-button,
	&::-webkit-inner-spin-button {
		margin: 0;
	}
}
.error {
	border: 2px solid red;
	&:focus {
	}
}
.shake {
	animation: 0.2s invalid forwards;
}
@keyframes invalid {
	0% {
		transform: translateX(0px);
	}
	25% {
		transform: translateX(5px);
	}
	50% {
		transform: translateX(0px);
	}
	75% {
		transform: translateX(-5px);
	}
	100% {
		transform: translateX(0px);
	}
}
