.dashboard {
	display: grid;
	grid-template-columns: 0.5fr 1fr;
	gap: 30px;
	.title {
		color: var(--primary);
		font-weight: 600;
		font-size: 18px;
		margin-bottom: 20px;
	}
	form {
		padding: 14px;
		border-radius: 10px;
		border: 1px solid var(--gray-200);
		background-color: #fff;

		.flexColumn {
			display: flex;
			flex-direction: column;
			height: 100%;
			.item {
				flex: 1 1 auto;
			}
		}
	}

	.row {
		display: grid;
		grid-template-columns: 1.5fr 1fr;
		gap: 30px;
	}
}
