.listbox {
	width: 100%;
	position: relative;
	.button {
		position: relative;
		width: 100%;
		cursor: default;
		border-radius: 10px;
		background-color: var(--gray-200);
		padding: 8px 14px 8px 8px;
		text-align: left;
		box-shadow: 0.2px 0.2px 3px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border: 1px solid transparent;
		span {
			font-size: 14px;
			font-weight: 600;
		}
		&.error {
			border: 1px solid red;
			box-shadow: 0.2px 0.2px 3px red;
			color: red;
		}
		&.shake {
			animation: 0.2s invalid forwards;
		}
		@keyframes invalid {
			0% {
				transform: translateX(0px);
			}
			25% {
				transform: translateX(5px);
			}
			50% {
				transform: translateX(0px);
			}
			75% {
				transform: translateX(-5px);
			}
			100% {
				transform: translateX(0px);
			}
		}
	}
	.list {
		position: absolute;
		z-index: 10;
		margin-top: 10px;
		max-height: 200px;
		width: 100%;
		overflow: auto;
		border-radius: 10px;
		box-shadow: 0.2px 0.2px 3px;
		background-color: var(--gray-200);
		border: 1px solid var(--gray);
	}
	.item {
		color: var(--primary) !important;
		position: relative;
		padding: 10px 10px 10px 35px;
		text-transform: capitalize;
		cursor: pointer;
		&:hover {
			background-color: var(--blackOpacity-100);
		}
		&.hi {
			color: red;
			background-color: green;
		}
		.span {
			color: var(--primary);
			font-weight: 500;
			&.active {
				font-weight: 700;
			}
		}
		.crash {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 20px;
			padding: 8px;
			border-radius: 50%;
			transition: 0.3s all;
			svg {
				color: red;
			}
			&:hover {
				background-color: #e78585af;
			}
		}
		.icon {
			position: absolute;
			left: 10px;
			top: 50%;
			transform: translateY(-50%);
			svg {
				font-weight: 500;
				color: var(--primary);
			}
		}
	}
}
.transition {
	transition: all 0.2s ease;
}
.opacity100 {
	opacity: 1;
}
.opacity0 {
	opacity: 0;
}
